---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="За нас"
	description="Кратка информация за организацията"
	pubDate={new Date('2026-03-02')}
	heroImage={AboutHeroImage}
>
	<p>
		Lorem Ipsum
	</p>
	<p>
		Lorem Ipsum
	</p>
	<p>
		Lorem Ipsum
	</p>
</Layout>
