---
// import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="За нас"
	description="Мисия и основни направления на Фондацията"
	pubDate={new Date('2026-03-02')}
>
	<h2>Мисия на Фондацията</h2>
	<p>
		Основната цел на Фондацията е да допринася за изграждането на общност от информирани, активни и
		интелигентни младежи от цяла България, с фокус върху тези в малките населени места.
	</p>
	<ul>
		<li>
			Прилагане на образователни методики, които спомагат професионалната и кариерната ориентация на
			младежта.
		</li>
		<li>
			Откриване на интересите и подпомагане подготовката на младежи със заложби в изучаването на различни
			науки, изкуства и професии.
		</li>
		<li>
			Запознаване на младежта с надучилищни теми като гражданско образование, икономика, политика, финансова
			грамотност, екология и медии.
		</li>
		<li>Стимулиране и популяризиране на местната култура, изкуства и традиции.</li>
		<li>
			Провеждане, стимулиране и подкрепяне на различни системи и практики за личностно израстване и
			пълноценно реализиране и изява на творческия потенциал и способности на отделната личност,
			насърчавайки и развивайки обществената и междуличностната комуникация, създавайки условията за
			провеждане на общуване, диалог и културноличностен обмен, осъществявайки принос в социално значими
			каузи, за изграждане на екологична и хармонична околна среда.
		</li>
	</ul>
</Layout>
